body {
  margin: 40px;
}

#image {
  border-radius: 10px
}

#comment_form {
  padding: 20px 0px;
}

.list_item {
  padding-bottom: 10px;
}

.list_item, button {
  padding: 2px 4px;
  border-radius: 10px;
}
